<html>
    <head>
        <title>Station Sign</title>
        <!--<link rel="stylesheet" herf="stationsCss.css"/>-->
    </head>

    <body>
        <h1>Station Time Table</h1>

        <table>
            <thead>
                <tr><!--"tr" means table row-->
                    <th>Time</th>
                    <th>Destination</th>
                    <th>Platform</th>
                </tr>
            </thead><!--"thead" means its the row at the top of the table-->
            <tbody> <%= tabTrains %></tbody><!--"tbody" means fills in the table-->
        </table>
    </body>
</html>